@import "../../assets/scss/imports/variables";
.left {
  flex: 1;
  overflow: hidden;
  flex-direction: row;
  .ballLeft {
    position: absolute;
    width: 60%;
    height: 50%;
    z-index: 1;
    margin-left: -1vw;
    margin-top: -5vw;
    width: 450px;
    height: 450px;
    opacity: 0.6;
    border-radius: 50%;
    background: linear-gradient(to right bottom, $white, $blue);
  }
}
