@import "../../assets/scss/imports/variables";
.titleText {
  color: $darkBlue;
  font-size: 3vw;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  font-family: $bodyFont;
  padding-top: 10px;
}
