@import "../../assets/scss/imports/variables";
.right {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  .ballRight {
    position: absolute;
    width: 60%;
    height: 50%;
    z-index: 1;
    margin-left: 85vw;
    margin-top: -5vw;
    width: 250px;
    height: 250px;
    opacity: 0.6;
    border-radius: 50%;
    background: linear-gradient(to right bottom, $white, $blue);
  }
}
