@import "../../assets/scss/imports/variables";

.backgroundBox {
	background-color: $white;
	justify-content: center;
	align-items: center;
	//   text-align: center;
	height: 350px;
	width: 230px;
	margin: 10px;
	box-shadow: $boxShadow;
	border-radius: $borderRadius;
	flex-direction: row;
}
