// // Styles de la page Home
.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 2%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title {
  display: flex;
  justify-content: center;
  z-index: 9;
  align-items: center;
  font-family: $titleFont;
  color: $white;
  font-size: 30vw;
  font-weight: 300;
  text-shadow: 25px 10px $grey;
}
.subTitle {
  justify-content: center;
  align-items: center;
  font-family: $bodyFont;
  color: $darkBlue;
  font-weight: 800;
  font-size: 3vw;
}

.arrowBottom {
  position: absolute;
  bottom: 0;
  right: 0;
}
.nav-arrow {
  color: $white;
}
