// Styles de la page User
body {
  padding: 0;
  margin: 0;
}

.users-select {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 4%;
}
.dropdown {
  width: 450px;
  height: 70px;
  font-size: 3vw;
  font-weight: 600;
  font-family: $bodyFont;
  color: $white;
  opacity: 0.9;
  border: 5px solid $white;
  background-color: $blue;
  padding: 1%;
}
.infos-block {
  font-size: 2vw;
  font-weight: 600;
  position: relative;
  color: $darkBlue;
  font-family: $bodyFont;
  padding: 5%;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.article-list {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.arrowTop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
.nav-arrow {
  color: $white;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item {
  text-align: center;
}
